USE [master]
GO
/****** Object:  Database [TMIND_DB]    Script Date: 09/04/2026 05:35:05 ******/
CREATE DATABASE [TMIND_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TMIND_DB', FILENAME = N'A:\Programs\MSSQL16.MSSQLSERVER\MSSQL\DATA\TMIND_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TMIND_DB_log', FILENAME = N'A:\Programs\MSSQL16.MSSQLSERVER\MSSQL\DATA\TMIND_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TMIND_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TMIND_DB]
GO
/****** Object:  Table [dbo].[DetectionLogs]    Script Date: 09/04/2026 05:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetectionLogs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetime] NULL,
	[camera_id] [int] NULL,
	[people_count] [int] NULL,
	[helmet_count] [int] NULL,
	[no_helmet_count] [int] NULL,
	[glasses_count] [int] NULL,
	[no_glasses_count] [int] NULL,
	[hand_gesture] [varchar](50) NULL,
	[total_objects_cam2] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09/04/2026 05:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[fullName] [nvarchar](100) NULL,
	[division] [nvarchar](100) NULL,
	[employeeId] [nvarchar](50) NULL,
	[monitoringHours] [nvarchar](50) NULL,
	[securityStatus] [nvarchar](50) NULL,
	[accessLevel] [nvarchar](50) NULL,
	[avatarUrl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DetectionLogs] ON 

INSERT [dbo].[DetectionLogs] ([id], [timestamp], [camera_id], [people_count], [helmet_count], [no_helmet_count], [glasses_count], [no_glasses_count], [hand_gesture], [total_objects_cam2]) VALUES (1, CAST(N'2026-03-20T10:06:57.537' AS DateTime), 1, 0, 0, 1, 0, 0, N'None', 1)
INSERT [dbo].[DetectionLogs] ([id], [timestamp], [camera_id], [people_count], [helmet_count], [no_helmet_count], [glasses_count], [no_glasses_count], [hand_gesture], [total_objects_cam2]) VALUES (2, CAST(N'2026-03-20T10:06:59.387' AS DateTime), 1, 0, 0, 1, 0, 1, N'None', 0)
INSERT [dbo].[DetectionLogs] ([id], [timestamp], [camera_id], [people_count], [helmet_count], [no_helmet_count], [glasses_count], [no_glasses_count], [hand_gesture], [total_objects_cam2]) VALUES (3, CAST(N'2026-03-20T10:07:01.387' AS DateTime), 1, 0, 0, 1, 0, 0, N'None', 1)
GO
SET IDENTITY_INSERT [dbo].[DetectionLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [password], [fullName], [division], [employeeId], [monitoringHours], [securityStatus], [accessLevel], [avatarUrl]) VALUES (1, N'Admin_SOP', N'TMMIN123', N'Sahar Romansyah', N'Division Head', N'TMMIN-001', N'2.450 Jam', N'Excellent', N'Super Admin', NULL)
INSERT [dbo].[Users] ([id], [username], [password], [fullName], [division], [employeeId], [monitoringHours], [securityStatus], [accessLevel], [avatarUrl]) VALUES (2, N'Member_SOP', N'TMMIN123', N'Arya Dwi Kusuma', N'Division Head', N'TMMIN-001', N'2.450 Jam', N'Excellent', N'Member', NULL)
INSERT [dbo].[Users] ([id], [username], [password], [fullName], [division], [employeeId], [monitoringHours], [securityStatus], [accessLevel], [avatarUrl]) VALUES (3, N'rayyida', N'rayyida123', N'Rayyida', N'Magang', N'TMMIN-003', NULL, N'OFFLINE', N'STAFF', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC5721B59A6B5]    Script Date: 09/04/2026 05:35:05 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DetectionLogs] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
USE [master]
GO

-- 1. Tambahkan kolomnya (izinkan NULL dulu)
ALTER TABLE Users ADD arucoId INT;
GO

-- 2. Isi data yang sudah ada dengan angka berurutan (0, 1, 2, dst)
-- Agar tidak ada data yang NULL
WITH CTE AS (
    SELECT id, ROW_NUMBER() OVER (ORDER BY id) - 1 AS NewID
    FROM Users
)
UPDATE Users 
SET arucoId = CTE.NewID
FROM Users 
INNER JOIN CTE ON Users.id = CTE.id;
GO

-- 3. Sekarang karena semua data sudah punya angka unik (tidak ada NULL lagi),
-- baru kita pasang peraturan UNIQUE
ALTER TABLE Users ADD CONSTRAINT UQ_ArucoID UNIQUE (arucoId);
GO